header {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
  overflow: visible;
}

.servic {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.by img {
  width: 80px;
  margin-left: 50px;
}
.list {
  display: flex;
}
.ul {
  display: flex;
  justify-content: space-between;
}
ul a {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}
.ul li {
  font-family: sans-serif;
  padding: 10px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: 30px;
}
.btn {
  padding: 8px;
  margin-top: -5px;
  border-radius: 10px;
  transition: 0.2s;
}
.btn:hover {
  background: #01bab3;
  color: white;
}
